:host {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.section-title {
  margin-top: 0;
}

.list-footer {
  display: flex;
  justify-content: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 14px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
